#adorable-avatars{
    .adorable-avatars-container{
        height: 560px;
        background-image: url(../../../images/adorable-avatar-bg.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        padding-bottom: 40px;
        padding-top: 120px;
        position: relative;
    }

    .row{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 100%;
        max-width: 1000px;
    }

    .text-center{
        text-align: center;
    }
    code {
        color: #e14283;
        font-family: "source-code-pro", monospace;
        font-size: 14px;
        font-weight: 900;
        line-height: 1.4;
        background-color: #fff;
        display: inline-block;
        line-height: 1;
        .fade {
            color: #7a739a;
            font-weight: 400;
        }
    }
    code.block{
        height: 52px;
        padding: 20px 15px 15px;
        position: relative;
        overflow: none;
        vertical-align: top;
        white-space: nowrap;
        font-size: 14px;
    }
    .code-row{
        text-align: center;
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
    }

    .columns{
        float: left;
          position: relative;
    }

    .container{
        display: inline-block;
        width: auto;
    }

    .m-6{
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-card{
        background: rgba(30,44,70,0.8);
        padding: 0;

        .input-container{
            box-shadow: 0 1px 0 rgba(110,216,214,0.2);
            display: block;
            position: relative;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 15px;
            text-align: left;
            &:before{
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                top: 0;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
                width: 0;
            }

            &.active:hover:before{
                background: #e14283;
                width: 6px;
            }
        }

        [class*='-value'] {
            position: relative;
            padding: 5px 23px 5px 5px;
            margin: 0 -23px 0 0;
        }
    }

    label{
        outline: none;
        vertical-align: middle;
        color: rgba(255,255,255,0.45);
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        span {
            color: #fff;
            font-size: 18px;
            text-transform: none;
            z-index: 300;
            position: relative;
        }
    }

    input[type='text']{
        background: none;
        border: none;
        color: #fff;
        font-size: 16px;
        margin: 0;
        padding: 0;
        height: 36px;
        width: 100%;
    }

    input[type='range']{
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
        -webkit-appearance: none !important;
        border-radius: 1000px;
        box-shadow: none;
        border: none;
        background-color: rgba(218,218,222,0.35);
        margin: 0;
        padding: 0 5px;
        height: 6px;
        width: 100%;
        outline: none;
    }
    a{
        color: #6ed8d6;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .button{
        background-color: #e14283;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 15px 25px 16px;
        margin-bottom: 1em;
        margin-right: 15px;
    }
    #copy-button{
        height: 52px;
        font-size: 18px;
        line-height: 1;
        margin: 0;
        padding: 17px 15px 15px;
        vertical-align: top;
    }
}