.book{
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.book-title{
  font-size: 14px;
  font-weight: normal;
}

.book-image{
  display: block;
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.book-top-part{
  margin-bottom: 10px;
}
