* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

body{
	font-size: 14px;
    line-height: 22px;
    background: #f4f4f4 url(../images/background.png);
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial;
}

@import 'scrollTop';
@import '../common/components/FilterBar/style';
@import 'range';
@import 'inputFocus';
@import 'app';
@import 'articleList';
@import 'ReplaceImgSrcWithinComponent';
