.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.head-appear {
  opacity: 0.01;
}

.head-appear.head-appear-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

// 自定义ReactCSSTransitionGroup的class

.fade-in {
  opacity: 0;
}

.fade-in-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.fade-out {
  opacity: 1;
}

.fade-out-active {
  opacity: 0;
  transition: opacity 5s ease-in;
}

