#iscroll-loadMore{

    .wrapper{
        position: absolute;
        z-index: 1;
        top: 114px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        overflow: hidden;

        /* Prevent native touch events on Windows */
        -ms-touch-action: none;

        /* Prevent the callout on tap-hold and text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Prevent text resize on orientation change, useful for web-apps */
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }

    .scroller{
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        background: #fff;
    }

    .load-more-text{
        text-align: center;
        line-height: 30px;
    }

    .search-form{
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        height: 50px;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        transition: .5s ease 0s;

        &.sticky{
            transform: translateY(-64px);
        }

        input{
            outline: none;
            border: 1px solid #ddd;
            flex: 1;
            padding: 0 8px;
            border-radius: 3px;
        }
    }

    .book-list{
        padding: 0 !important;
    }

    .book-thumbnail{
        width: 60px !important;
        height: auto !important;
        margin: 0 12px !important;
    }

    .search-history{
        position: absolute;
        width: 100%;
        top: 114px;
    }

    .search-history-list{
        list-style: none;
        overflow: hidden;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .search-history-item{
        float: left;
        border: 1px solid #ddd;
        padding: 10px 8px;
        text-align: center;
        margin-bottom: 10px;
        flex: 1 0 25%;

        &:not(:nth-of-type(3n)) {
            margin-right: 5px;
        }
    }
    .search-history-text{
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
}
