#app{

    .sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 15px 0 30px 30px;
        width: 350px;
        border-right: 1px solid #bbb;
        box-shadow: 0 0 20px #ccc;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        transition: width cubic-bezier(0.075, 0.82, 0.165, 1) .2s;

        &.hide{
            width: 60px;
        }

        .toc_title{
            display: block;
            color: black;
            font-weight: bold;
            margin-top: 15px;
        }

        .toc_section{
            font-size: 11px;
            line-height: 14px;
            margin: 5px 0 0 0;
            padding-left: 0px;
            font-family: Lucida Grande;
            
            > li{
                cursor: pointer;
                margin: 0 0 3px 0;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .main{
        margin: 40px 40px 50px 410px;

        &.sidebar-hide{
           margin-left: 120px;
        }
    }
}

.loading{
    position: fixed;
    left: 350px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.2);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    &-img{
        width: 120px;;
        height: 120px;
        background: url(../images/spin.svg) no-repeat;
        background-size: cover;
    }
}

#article-filter{
    width: 80%;
}

#hide-sidebar{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ddd;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}