$range-track-height:              2px !default;
$range-slider-width:              28px !default;
$range-slider-height:             28px !default;
$range-slider-border-radius:      50% !default;
$range-icon-size:                 24px !default;
$range-slider-box-shadow:         0 0 2px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2) !default;


input[type='range'] {
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-left: 1px;
    width: auto;
    height: $range-slider-height + 15;
    outline: none;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
    background: linear-gradient(to right, #ccc 0%, #ccc 100%);
    background-position: center;
    background-size: 99% $range-track-height;
    background-repeat: no-repeat;
    -webkit-appearance: none;

    &::-moz-focus-outer {
        /* hide the focus outline in Firefox */
        border: 0;
    }
    &::-webkit-slider-thumb {
        position: relative;
        width: $range-slider-width;
        height: $range-slider-height;
        border-radius: $range-slider-border-radius;
        background-color: #fff;
        box-shadow: $range-slider-box-shadow;
        cursor: pointer;
        -webkit-appearance: none;
        border: 0;
    }
    &::-webkit-slider-thumb:before {
        /* what creates the colorful line on the left side of the slider */
        position: absolute;
        top: ($range-slider-height / 2) - ($range-track-height / 2);
        left: -2001px;
        width: 2000px;
        height: $range-track-height;
        background: #666;
        content: ' ';
    }
    &::-webkit-slider-thumb:after {
        /* create a larger (but hidden) hit area */
        position: absolute;
        top: -15px;
        left: -15px;
        padding: 30px;
        content: ' ';
        //background: red;
        //opacity: .5;
    }
    &::-ms-fill-lower {
        height: $range-track-height;
        background: #666;
    }
}
